/* This is to help me see the divs */

/*
div{
    border: solid black 2px;
}
*/
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

/* FIRST SECTION AND HEADER*/
/*---------------------------*/

*{
    font-family: "Roboto", sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

.first-section {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

#header1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#subheader1, a{
    font-size: 18px;
    color: #E5E7EB;

}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.image-text{
    text-align: center;
    height: fit-content;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}


.first-division{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-one{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.image-placeholder{
    display: flex;
    width: 50%;
    background-color: rgb(110, 123, 136);
    justify-content: center;
    align-items: center;
}

.sign-up-button{
    border-radius: 12px;
    border: 0cm;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 15px;
    flex-basis: 0%;
    max-width: 150px;
    margin-top: 8px;
}

/* SECOND SECTION*/
/*---------------*/

.second-section{
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: space-between;
}

.info-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.second-section-maintext{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 25px;
}

.info-image-one, .info-image-two, .info-image-three, .info-image-four{
    border: solid #538ae2 4px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background-image: url(./Images/background_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-texts{
    color: rgb(168, 168, 168);
}

